.demarcate_hide {
    display: none;
}

textarea#demarcate {
    width: 100%;
}

div#demarcate_toolbar {
    display: block;
    width: 100%;
    margin-bottom: 8px;
}

div#demarcate_toolbar a, div#demarcate_toolbar a:visited {
    color: black;
    padding: 3px 3px 3px 0;
    background: #EEE;
    border: 1px solid #666;
    text-decoration: none;
    font-weight: bolder;
    margin: 0 3px 0 0;
}

div#demarcate_toolbar a:hover {
    background: #CCC;
}

div#demarcate_toolbar a#demarcate_save {
    background: #5D5;
}

div#demarcate_toolbar a#demarcate_save:hover {
    background: #2A2;
}

div#demarcate_toolbar a#demarcate_cancel {
    background: #D55;
}

div#demarcate_toolbar a#demarcate_cancel:hover {
    background: #A22;
}

div#demarcate_toolbar a.active {
    background: #303030;
    color: white;
}