/*************************************************************************
*      DemarcateJS v2.0 is an in-place Markdown editor and decoder     *
*                                                                        *
*      It was written by William Hart (http://www.williamhart.info) to   *
*      run on "textr" (http://to-textr.com/) a new Markdown enabled      *
*      platform to allow writing and sharing of online text              *
*                                                                        *
*                                                                        *
*      This code is provided under the MIT license                       *
*      It is also hosted on github:                                      *
*               http://will-hart.github.com/demarcate                    *
*      Contributions welcome!                                            *
*                                                                        *
*************************************************************************/

#demarcate { 
	outline: none;
}

.demarcate-menu {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 50px;
	background: #303030;
	color: #eee;
	
	-moz-box-shadow: inset -5px 0 1px #202020;
	-webkit-box-shadow: inset -5px 0 1px #202020;
	box-shadow: inset -5px 0 1px #202020;
}

.demarcate-menu-button {
	width: 100%;
	display: block;
	text-align: center;
	color: white;
	text-decoration: none;
}

.demarcate-menu-button:hover {
	background: #eee;
	color: #303030;
}

.demarcate-menu-button:first-of-type {
	color: rgb(37, 194, 37);
	font-weight: bolder;
}